@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    margin-top: 10%;
    background-color: black;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
}

.content {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
}

img {
    padding: 5%;
    width: 80%;
}

p {
    padding: auto;
    font-style: italic;
    color: aliceblue;
}