@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    margin-top: 10%;
    padding: 5%;
    background-color: black;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
}

.content {
    padding: auto;
    font-style: italic;
    color: aliceblue;
}

p {
    color: aliceblue;
}