@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    padding: 5%;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
}

p {
    color: green;
}

a {
    color: turquoise;
}